:root{
  --color-primary:#96229a;
  --color-secondary:#c067bb;
}
body{
  padding: 0;
  margin-bottom: 0px;
  /*background-color: rgb(54,56,62);*/
  background-color: white;
}
.nav-all{
  background-color: white;
}

.logo img{
  width: 70px;
}
.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li{
  display: inline;
}

.menu li a{
  padding: 12px;
}

.menu li a:hover{
  padding: 12px;
  text-decoration: underline;
}

.main-div{
  background:url("../images/banner-dark.jpg") no-repeat center;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-div p{
  padding: 25px;
}

.center-content{
  text-align: center;
  vertical-align: middle;
}

.experiencia-div{
  background:url("../images/profile-bg-edited.jpg") no-repeat center;
  width: 100%;
  min-height: 200px;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}
.experiencia-content{
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonios-div{
  background-image: url(../images/testimonios-background.jpg);
  background-size: cover;
}

.testimonios-content{
  padding-top: 50px;
  padding-bottom: 50px;
}

.perfil{
  background-image: url("../images/profile.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.my-button{
  background-color: var(--color-primary);
  padding: 1rem;
  color: white;
}

.menu a{
  color: var(--color-primary);
}

.menu a:hover{
    text-decoration: none;
}

.my-button:hover{
  background-color: var(--color-secondary);
  color: white;
  text-decoration: none;

}

.blockquote-footer{
  color: white;
}

.blockquote{
  color: white;
}

.blockquote cite{
  color: white;
}

.colaboradores-content{
  padding-top: 50px;
  padding-bottom: 50px;
}
.colaboradores-content img{
  width: 100px;
  
}

.footer{
  background-color: var(--color-primary);
  min-height: 50px;
  padding: 10px;
}
.footer a{
  color: white;
}


.nobr{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.programa-details-content{
  padding-top: 50px;
  padding-bottom: 50px;
}

.detail-element{
  padding: 25px;
}

.icon{
  height: 42px;
  width: 42px;

}

span.icon{
  text-overflow: ellipsis;
  white-space: nowrap;
}


.programa-element{
  display: inline;
}

.testimonio-image{
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center; 
}

#testimonio1{
  background-image: url("../images/testimonio1.jpg");
}

#testimonio2{
  background-image: url("../images/testimonio2.jpg");
}

#testimonio3{
  background-image: url("../images/testimonio3.jpg");
}

.contacto-form{
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 10px grey;
}

.contacto-div{
  padding: 50px;
}

.contacto-input{
  margin: 0 auto;
}